<div class="container-fluid">
  <p id="notice"><%= notice %></p>

      <div class="form-group mb-3">
    <p><strong>Classroom:</strong></p>
    <div>
      <%= @classroom.Classroom %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Name:</strong></p>
    <div>
      <%= @classroom.name %>
    </div>
  </div>
  
  
  <%= link_to 'Edit', edit_classroom_path(@classroom), class: "btn btn-primary min-width-btn" %>
  <%= link_to 'Back', classrooms_path, class: "btn btn-light min-width-btn" %>
</div>