<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :born, class: "form-label" %>
    <%= form.date_field :born, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>