<div class="container-fluid">
  <p id="notice"><%= notice %></p>

      <div class="form-group mb-3">
    <p><strong>Name:</strong></p>
    <div>
      <%= @type_item.name %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Active:</strong></p>
    <div>
      <%= @type_item.active %>
    </div>
  </div>
  
  
  <%= link_to 'Edit', edit_type_item_path(@type_item), class: "btn btn-primary min-width-btn" %>
  <%= link_to 'Back', type_items_path, class: "btn btn-light min-width-btn" %>
</div>